/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/.htaccess
!saw/backup
/saw/backup/*
!/saw/backup/.gitkeep
!saw/imported
/saw/imported/*
!/saw/imported/.gitkeep
!saw/in_progress
/saw/in_progress/*
!/saw/in_progress/.gitkeep
!saw/to_import
/saw/to_import/*
!/saw/to_import/.gitkeep
